
/* frontend */
.frontend__container{
    margin-top: 5rem ;
    padding: var(--mb-2);
    color: white;
  }


  .frontend__container{
    background: var(--box-color);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: var(--mb-2);
    display: grid;
    gap:10px ;
  }
  
  .frontend__card-title, 
  .frontend__card-subtitle{
    color: var(--body-color);
    padding: var(--mb-0-5) 0;
  }
  
  .frontend__card-content{
    color: var(--body-color);
   display: flex;
   gap: 12px;
   padding: var(--mb-0-5) 0;
  }
  
  .frontend__card-description,
  .frontend-duration,
  .frontend-projects{
    color : rgba(255, 255, 255, 0.8);
  }
/* task */
.task{
  margin-top: 2rem;
  text-align: center;
}
.task__title{
  margin-top: 2rem;
}
.task__subtitle{
  font-size:1rem;
  padding: 0 1rem;
  
}


.tasks{
  display:grid;
  margin:var(--mb-1);
  padding:var(--mb-1);
  align-content:baseline ;
  gap: 2rem;
}
/* week */


.week__head{
  left:1rem;
  padding-left: 2rem;;
}

.week__container{
  padding: 1rem;
  margin: 1rem 2rem;
  background-color: var(--container-color);
}
.weel__description{
  font-weight: 900;
}
.work__lists{
  display: grid;
}
.work__list{
  
  margin: 2rem;
 
  font-weight: 900;
  
}
li:first-child{
  font-size: large;
  font-weight: bold;
}
li{
  padding: .5rem;
}

  @media screen and (min-width: 576px){
  
  .frontend{
      color:white;
      justify-content: center;
      align-items: center;
      column-gap: 3rem;
    }
    
    .frontend__card{
      padding: 4rem;
    }
  
  }

  @media screen and (min-width: 767px){
    .frontend{
        color:white;
        margin-top: 8rem ;
        justify-content: space-evenly;
      }
      .frontend__container{
        padding: 5rem 0 2rem;
        grid-template-columns: 600px 600px;    
        grid-gap: 2rem;
        justify-content: center;
      }
      .frontend__card,.frontend__describe{
        padding:.5rem  ;
        justify-content: center;
      }
      .week__container{
        padding: 2rem;
        margin: 2rem 2rem 3rem;
      }
      .task__title{
        margin: 1.5rem 0;
      }
      .tasks, 
      .work__lists{
        align-items: center;
        grid-template-columns: repeat(3,1fr);
      }
      img{
        width:auto;
        height:11rem;
      }
      
      
  }